/* html {
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  }

p {
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 100px;
    height: 100px;
    background-color: orange;
}

div > p {
    background-color: red
} */


/* ___________GRID______________ */


/* .my-grid {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 100px;
} */

.has-blue-background {
  background-color: #A7DDFF;
  border: 1px solid #721EE3;
}

.has-yellow-background {
  background-color: #FAF7A7;
  border: 1px solid #E38C1E;
}


/* __________________________FLEXBOX____________________ */

.flexbox-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.container-child {
  border: 1px solid red;
}
